.ai__whatai {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background: var(--color-footer);

    background: rgb(24,1,52);
    background: -moz-linear-gradient(90deg, rgba(24,1,52,1) 0%, rgba(51,6,26,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(24,1,52,1) 0%, rgba(51,6,26,1) 100%);
    background: linear-gradient(90deg, rgba(24,1,52,1) 0%, rgba(51,6,26,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#180134",endColorstr="#33061a",GradientType=1);
}

.ai__whatai-feature {
    display: flex;
}

/* Customizing feature component as per needs */
.ai__whatai-feature .ai__features-container__feature {
    margin: 0;
}

/* Customizing feature component as per needs */
.ai__whatai-feature .ai__features-container_feature-text {
    max-width: 700px;
}

.ai__whatai-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: 4rem 0 2rem;
}

.ai__whatai-heading h1 {
    font-size: 40px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
    overflow-y: hidden;
}

.ai__whatai-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}

.ai__whatai-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 4rem;
}

/* Customizing feature component as per needs */
.ai__whatai-container .ai__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

/* Customizing feature component as per needs */
.ai__whatai-container .ai__features-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .ai__whatai-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .ai__whatai-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .ai__whatai-feature .ai__features-container__feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .ai__whatai-feature .ai__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .ai__whatai-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .ai__whatai-container .ai__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}