.ai__possibility {
    display: flex;
    flex-direction: row;
    background: rgb(24,1,52);
    background: -moz-linear-gradient(90deg, rgba(24,1,52,1) 0%, rgba(51,6,26,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(24,1,52,1) 0%, rgba(51,6,26,1) 100%);
    background: linear-gradient(90deg, rgba(24,1,52,1) 0%, rgba(51,6,26,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#180134",endColorstr="#33061a",GradientType=1);
}

.ai__possibility-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-right: 2rem;
}

.ai__possibility-image img {
    width: 100%;
    height: 100%;
}

.ai__possibility-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.ai__possibility-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71E5FF;
}

.ai__possibility-content h4:last-child {
    color: #ff8A71;
}

.ai__possibility-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
    overflow-y: hidden;
}

.ai__possibility-content p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
    .ai__possibility {
        flex-direction: column;
    }

    .ai__possibility-image {
        margin: 1rem 0;
    }

    .ai__possibility-image img {
        width: unset;
        height: unset;
    }

    .ai__possibility-content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .ai__possibility-image img {
        width: 100%;
        height: 100%;
    }
}

