* {
    box-sizing: border;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg);
}

a {
    color: unset ;
    text-decoration: none;
}

.gradient__bg {
    background: rgb(24,1,52);
    background: -moz-linear-gradient(90deg, rgba(24,1,52,1) 0%, rgba(51,6,26,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(24,1,52,1) 0%, rgba(51,6,26,1) 100%);
    background: linear-gradient(90deg, rgba(24,1,52,1) 0%, rgba(51,6,26,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#180134",endColorstr="#33061a",GradientType=1);
}

.gradient__text {
    background:var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__padding {
    padding: 2rem 2rem;
}

.section__margin {
    padding: 2rem 2rem;
}
        
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

@media screen and (max-width:700px){
    .section__padding{
        padding: 2rem;   
    }
    .section__margin{
        padding: 2rem;
    }
}

@media screen and (max-width:550px){
    .section__padding{
        padding: 2rem 2rem; 
    }
    .section__margin{
        padding: 2rem 2rem;
        
    }
}

  